# This application does NOT use a .env file.
# 
# To configure the API and Socket URLs, edit the following file:
# lib/core/config/env_config.dart
API_BASE_URL=https://api.golongdrive.online/api/v1
DIRECTIONS_API_KEY=YOUR_API_KEY_HERE
